.container{
    width: 100%;
    p{
        width: 100%;
        color: var(--text-light)
    }
    button{
        padding: 0.5rem;
        box-sizing: border-box;
        background-color: var(--light);
        margin-bottom: 0.5rem;
        width: 100%;
        transition: 0.2s ease-in-out;
        border: 1px solid var(--light);
        &:hover{
            border: 1px solid var(--primary);
        }
    }

}