.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    text-align: left;
    &:hover{
        svg {
            color: var(--primary);
        }
    }
    svg{
        transition: ease-in-out 0.3s;
        font-size: 1.5rem;
    }
    .iconOpen{
        transform: rotate(720deg);
        transition: transform 2s ease; /* smooth rotation */
        color: var(--primary);
    }
}