.container{
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 1rem 0;
    background-color: var(--dark);
}