.container{
    padding: 1rem;
    section{
        max-width: 500px;
        margin: 1rem auto;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
        }
    }
    img{
        width: 250px;
        height: 250px;
        mix-blend-mode: screen;
        animation: move 2s ease-in-out infinite;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        width: 100%;
        &:hover{
            color: var(--primary);
        }
    }

    @keyframes move{
        0%, 100% {
            transform: translateY(-10px);
        }
        50% {
            transform: translateY(10px); /* move up by 20px */
        }
    }
}